<launch>
<group ns="model_uris">
<param name="all" value="package://object_models/./models/all.vtk" />
<param name="soft_scrub_2lb_4oz" value="package://object_models/./models/soft_scrub_2lb_4oz.vtk" />
<param name="melissa_doug_farm_fresh_fruit_orange" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_orange.vtk" />
<param name="darpaphonehandset_1000_original_coordinate_system" value="package://object_models/./models/darpaphonehandset_1000_original_coordinate_system.vtk" />
<param name="melissa_doug_farm_fresh_fruit_pear" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_pear.vtk" />
<param name="red_metal_cup_white_speckles" value="package://object_models/./models/red_metal_cup_white_speckles.vtk" />
<param name="comet_lemon_fresh_bleach" value="package://object_models/./models/comet_lemon_fresh_bleach.vtk" />
<param name="melissa_doug_farm_fresh_fruit_lemon" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_lemon.vtk" />
<param name="morton_salt_shaker" value="package://object_models/./models/morton_salt_shaker.vtk" />
<param name="darpaflashlight" value="package://object_models/./models/darpaflashlight.vtk" />
<param name="red_metal_bowl_white_speckles" value="package://object_models/./models/red_metal_bowl_white_speckles.vtk" />
<param name="rubbermaid_ice_guard_pitcher_blue" value="package://object_models/./models/rubbermaid_ice_guard_pitcher_blue.vtk" />
<param name="frenchs_classic_yellow_mustard_14oz" value="package://object_models/./models/frenchs_classic_yellow_mustard_14oz.vtk" />
<param name="cheerios_14oz" value="package://object_models/./models/cheerios_14oz.vtk" />
<param name="melissa_doug_farm_fresh_fruit_apple" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_apple.vtk" />
<param name="brine_mini_soccer_ball" value="package://object_models/./models/brine_mini_soccer_ball.vtk" />
<param name="domino_sugar_1lb" value="package://object_models/./models/domino_sugar_1lb.vtk" />
<param name="play_go_rainbow_stakin_cups_5_green" value="package://object_models/./models/play_go_rainbow_stakin_cups_5_green.vtk" />
<param name="play_go_rainbow_stakin_cups_2_orange" value="package://object_models/./models/play_go_rainbow_stakin_cups_2_orange.vtk" />
<param name="block_of_wood_6in" value="package://object_models/./models/block_of_wood_6in.vtk" />
<param name="drill_custom" value="package://object_models/./models/drill_custom.vtk" />
<param name="mug_custom2" value="package://object_models/./models/mug_custom2.vtk" />
<param name="pringles_original" value="package://object_models/./models/pringles_original.vtk" />
<param name="purple_wood_block_1inx1in" value="package://object_models/./models/purple_wood_block_1inx1in.vtk" />
<param name="campbells_condensed_tomato_soup" value="package://object_models/./models/campbells_condensed_tomato_soup.vtk" />
<param name="orange_wood_block_1inx1in" value="package://object_models/./models/orange_wood_block_1inx1in.vtk" />
<param name="red_metal_plate_white_speckles" value="package://object_models/./models/red_metal_plate_white_speckles.vtk" />
<param name="medium_black_spring_clamp" value="package://object_models/./models/medium_black_spring_clamp.vtk" />
<param name="spam_12oz" value="package://object_models/./models/spam_12oz.vtk" />
<param name="jell-o_strawberry_gelatin_dessert" value="package://object_models/./models/jell-o_strawberry_gelatin_dessert.vtk" />
<param name="melissa_doug_farm_fresh_fruit_strawberry" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_strawberry.vtk" />
<param name="champion_sports_official_softball" value="package://object_models/./models/champion_sports_official_softball.vtk" />
<param name="airplane" value="package://object_models/./models/airplane.vtk" />
<param name="play_go_rainbow_stakin_cups_3_red" value="package://object_models/./models/play_go_rainbow_stakin_cups_3_red.vtk" />
<param name="garnier_shampoo_bottle" value="package://object_models/./models/garnier_shampoo_bottle.vtk" />
<param name="penn_raquet_ball" value="package://object_models/./models/penn_raquet_ball.vtk" />
<param name="melissa_doug_farm_fresh_fruit_banana" value="package://object_models/./models/melissa_doug_farm_fresh_fruit_banana.vtk" />
<param name="sponge_with_textured_cover" value="package://object_models/./models/sponge_with_textured_cover.vtk" />
<param name="cheeze-it_388g" value="package://object_models/./models/cheeze-it_388g.vtk" />
<param name="milk_carton" value="package://object_models/./models/milk_carton.vtk" />
<param name="play_go_rainbow_stakin_cups_1_yellow" value="package://object_models/./models/play_go_rainbow_stakin_cups_1_yellow.vtk" />
<param name="black_and_decker_lithium_drill_driver" value="package://object_models/./models/black_and_decker_lithium_drill_driver.vtk" />
<param name="blue_wood_block_1inx1in" value="package://object_models/./models/blue_wood_block_1inx1in.vtk" />
<param name="jell-o_chocolate_flavor_pudding" value="package://object_models/./models/jell-o_chocolate_flavor_pudding.vtk" />
<param name="block_of_wood_12in" value="package://object_models/./models/block_of_wood_12in.vtk" />
<param name="clorox_disinfecting_wipes_35" value="package://object_models/./models/clorox_disinfecting_wipes_35.vtk" />
<param name="gillette_shaving_gel" value="package://object_models/./models/gillette_shaving_gel.vtk" />
<param name="large_black_spring_clamp" value="package://object_models/./models/large_black_spring_clamp.vtk" />
<param name="darpaphonehandset_1000_different_coordinate_system" value="package://object_models/./models/darpaphonehandset_1000_different_coordinate_system.vtk" />
<param name="master_chef_ground_coffee_297g" value="package://object_models/./models/master_chef_ground_coffee_297g.vtk" />
</group>
<group ns="stl_uris">
<param name="gillette_shaving_gel.vtk" value="package://object_models/./models/gillette_shaving_gel.vtk.stl" />
<param name="drill_custom.vtk" value="package://object_models/./models/drill_custom.vtk.stl" />
<param name="garnier_shampoo_bottle.vtk" value="package://object_models/./models/garnier_shampoo_bottle.vtk.stl" />
<param name="all.vtk" value="package://object_models/./models/all.vtk.stl" />
</group>
</launch>
